
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  /* padding: 20px; */
  overflow-y: auto;
}
h1 {
  margin-bottom: 20px;
}
table {
  width: 90%;
  margin: auto;
  display: none;
  table-layout: auto;
  border-collapse: collapse;
  border-radius: 10px;
}
th, td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid white;
  /* white-space: nowrap; */
  min-width: 1rem;
}
th:last-child, td:last-child {
  border: none;
  background: none;
  background-color: #333;
  text-align: center;
  width: 1rem;
  padding: 0.2rem;
}

th {
  background-color: #444;
}
.Blue {
  background-color: #2896BC;
  color: white;
}

.Red {
  background-color: #EB4130;
  color: white;
}
.Blue:hover {
  background-color: #1A6F8D;
}
.Red:hover {
  background-color: #C32A1A;
}
body.dragging .Blue:hover {
  background-color: #2896BC;
  color: white;
}
body.dragging.Red:hover {
  background-color: #EB4130;
  color: white;
}
.container {
  margin: auto;
  background: #333;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}
#statusMessage {
  font-size: 18px;
  font-weight: bold;
  color: #ffcc00;
  margin-top: 20px;
}
#suggestionsList {
  position: absolute;
  width: 300px;
  max-height: 150px;
  overflow-y: auto;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
}
#suggestionsList li {
  padding: 10px;
  cursor: pointer;
}
tbody tr {
  cursor: grab;
}
tbody tr:active {
  cursor: grabbing;
}
/* Champion icon styling */
.champion-icon {
  width: 40px;
  height: 40px;
}
.search-container {
position: relative;
margin: 20px auto;
width: 300px;

}
#searchBar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position:relative;
    text-align:center;

}
#suggestionsList {
    position: absolute;
    width: 100%;
    border: 0px;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #444;
    list-style-type: none;
    padding-left: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    
    scrollbar-width: none; /* Firefox */
}
.suggestions li {
    padding: 10px;
    cursor: pointer;
    background-color: #222;
    text-align: left;
    vertical-align: middle;
}
.suggestions li:hover {
    background-color: #333;
}
.suggestions img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
.team-row {
  transition: transform 0.25s ease-in-out, box-shadow 0.1s ease background-color 0.05s ease;  /* Smooth transition for drag effects */
}
.team-row.removing {
  transform: translateX(-100%);
  opacity: 0;
}
.remove-col {
  background: none;
  border: none;
  background-color: red;
  font-size: 16px;
  cursor: pointer;
  opacity: 1; /* Hide by default */
  color: #777;
}
/* Change color on hover */
.remove-col:hover {
  color: white;
  opacity:0.8;
}
header {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.selected-row {
  outline: 2px solid #ffa500;
  background-color: rgba(255, 165, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Responsive behavior */
@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead {
    display: none;
  }

  tbody tr {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 0.5rem;
    background-color: #fff;
  }

  tbody td {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #eee;
  }

  tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}